@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4%;
}

.logo{
    font-size: 2rem;
    color: #323232;
}

.bold{
    font-weight: 700;
    color: #ff7f01;
}

.nav{
    display: flex;
}

.nav li{
    position: relative;
}

.nav a{
    padding: 10px 27px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #323232;
}

.nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    transition: ease .40s;
    background-color: #ff7f01;
}

.icons i{
    color: #323232;
    font-size: 1.2rem;
    cursor: pointer;
}
.icons {
    display: none;
}
.nav a:hover::after{
    width: 100%;
}
.search-bar input{
    border: none;
    outline: none;
}

.search-bar{
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    border-radius: .8rem;
}

.home{
    padding: 2rem 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: 50%;
}

.content h1{
    font-size: 3rem;
    color: #323232;
    padding-bottom: .5rem;
}

.content p{
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
    padding-bottom: 1rem;
}

.btn{
    padding: .8rem 1.3rem;
    border-radius: .9rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
    background: transparent;
    border: 1px solid #ff7f01;
    color: #ff7f01;
    transition: ease .40s;
    cursor: pointer;
}

.btn i{
    margin-left: .2rem;
}

.btn:hover{
    background-color: #ff7f01;
    color: #fff;
}

.btn:hover,i{
    margin-left: .5rem;
}

.image{
    width: 45%;
}

.image img{
    width: 100%;
}

@media (max-width:1036px){
    .nav{
        position: absolute;
        top: 99%; left: 0; right: 0;
        border-bottom: .1rem solid #ff7f01;
        border-top: .1rem solid #ff7f01;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: ease .40s;
        background-color: #fff;
    }
    .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .nav{
        display: inline;
        text-align: center;
        padding: 1rem;
    }
    .nav li{
        margin-top: 1rem;
    }
    .search-bar{
        position: absolute;
        top: -99%;
    }

    .icons{
        display: inline;
    }
}

@media (max-width:848px){
    .home{
        flex-direction: column-reverse;
        padding-top: 5rem;
    }

    .content{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 100%;
    }
}

@media (max-width:300px){
    .logo{
        font-size: 1.8rem;
    }


    .content h1{
        font-size: 2rem;
    }
    .content p{
        font-size: 1rem;
    }

    .btn{
        padding: .5rem 1rem;
        font-size: 1rem;
    }
}